<% include header.html %>

<ol class="breadcrumb">
    <li><a href="/">社区主页</a></li>
    <li class="active"><%=column.name%></li>
</ol>

<a href="#createTopic">添加主题</a>
<div class="panel panel-info" ng-controller="topicCtrl">
    <div class="panel-heading"> <%=column.name%></div>
    <table class="table">
        <% topics.forEach(function(topic){ %>
        <tr>
            <td><a href="/topic/<%=topic.id%>" ng-non-bindable><%=topic.title%></a>
                <span class="pull-right">{{<%=topic.createTime %> | date:"MM-dd"}}</span>
            </td>
        </tr>
        <% }) %>
        <tr>
            <td>
            <ul class="pagination">

                <%if(page!==1){%>
                    <li><a href="/column/<%=column.id%>/1">首页</a></li>
                    <li><a href="/column/<%=column.id%>/<%=page-1%>">上一页</a></li>
                <%}%>

                <% var startPage = 1+ (groupNum-1)*(groupMaxPageNum-1)%>
                <%for(var j=0;startPage<pagenum+1 && j<groupMaxPageNum;startPage++,j++){%>
                    <% if(startPage===page){%>
                    <li class="active"><a href="#" ><%=startPage%></a></li>
                    <%}else{%>
                    <li ><a href="/column/<%=column.id%>/<%=startPage%>" ><%=startPage%></a></li>
                    <%}%>
                <%}%>

                <%if(page!==pagenum){%>
                <li><a href="/column/<%=column.id%>/<%=page+1%>">下一页</a></li>
                <li><a href="/column/<%=column.id%>/<%=pagenum%>">尾页</a></li>
                <%}%>

            </ul>
            </td>
        </tr>
    </table>

    <div role="form" id="createTopic">
        <input type="hidden" ng-init='columnId="<%=column.id%>"'/>

        <div class="form-group">
            <div class="alert alert-danger small" ng-show="!!titleMessage">
                {{titleMessage}}
            </div>
            <input type="text" class="form-control" ng-keydown="tab()" ng-model="title" tabindex="1"
                   placeholder="请输入昵称，之后不可更改。">
        </div>
        <div class="form-group">
            <div class="alert alert-danger small" ng-show="!!bodyMessage">
                {{bodyMessage}}
            </div>
            <textarea class="form-control" ng-model="body" tabindex="2" placeholder="请输入Email">
            </textarea>
        </div>
        <div class="form-group">
            <div class="alert alert-danger small" ng-show="!!validat_numMessage">
                {{validat_numMessage}}
            </div>
            <div class="row">
                <div class="col-sm-7">
                    <input type="text" class="form-control" ng-keydown="tab()" ng-model="validat_num" tabindex="3"
                           placeholder="输入验证码">
                </div>
                <label class="col-sm-5 control-label"><img ng-src="/refresh_num?{{time}}"/>
                    <a href="" ng-click="refreshNum()"><span class="glyphicon glyphicon-repeat"></span></a></label>
            </div>
        </div>
        <button type="button" ng-click="createTopic()" tabindex="5" class="btn btn-primary">创建主题</button>
    </div>

</div>

<% include footer.html %>
