<% include header.html %>

<div>

<a href="#" data-toggle="modal" data-target="#createColumnDialog">创建栏目</a>

<% columns.forEach(function(col){ %>
	<div class="panel panel-default">
	  <div class="panel-heading">
		 <a href="/column/<%=col.id%>"><span columnid="<%=col.id%>" coledit="name"><%=col.name%></span></a> <a ng-click='select("<%=col.id%>")'></a>
	  </div>
	  <div class="panel-body">
		  <a href="/column/<%=col.id%>"><div columnid="<%=col.id%>" coledit="des"><%=col.name%></div></a>
	  </div>
	</div>		
<% }) %>

<%include createColumn.html%>
<%include updateColumn.html%>

</div>	  

<% include mainscript.html %>
<script src="/js/index.js"></script>
<% include footer.html %>
