<% include header.html %>

<div ng-controller="columnCtrl">

<%if(user && user.role === 1){%>
<a href="#" data-toggle="modal" class="btn btn-default" data-target="#createColumnDialog">创建栏目</a>
<%}%>

<% columns.forEach(function(col){ %>
	<div class="panel panel-default">
	  <div class="panel-heading">
		 <a href="/column/<%=col.id%>"><span columnid="<%=col.id%>" coledit="name"><%=col.name%></span></a> <a ng-click='select("<%=col.id%>")'></a>
		 <%if(user && user.role === 1){%>
		 <a class="pull-right" href="" data-target="#updateColumnDialog" ng-click='updateColumn("<%=col.id%>")' data-toggle="modal" ><i class="glyphicon glyphicon-edit"></i></a>
		 <%}%>
	  </div>
	  <div class="panel-body">
		  <a href="/column/<%=col.id%>"><div columnid="<%=col.id%>" coledit="des"><%=col.des%></div></a>
	  </div>
	</div>		
<% }) %>

<% include mainscript.html %>

<%if(user && user.role === 1){%>
	<%include createColumn.html%>
	<%include updateColumn.html%>
	<script src="/js/index.js"></script>
<%}%>

</div>	  

<% include footer.html %>
