<div class="modal fade" id="loginDialog" ng-controller="loginCtrl" tabindex="-1" role="dialog" aria-labelledby="loginDialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">登录</h4>
      </div>
      <div class="modal-body">
		  <form role="form">
		    <div class="form-group">
		    	<div class="alert alert-danger small" ng-show="!!emailMessage">
					{{emailMessage}}
		    	</div>
		      <input type="text" class="form-control" ng-keydown="tab()" ng-model="email" tabindex="1" placeholder="请输入Email">
		    </div>
		    <div class="form-group">
		    	<div class="alert alert-danger small" ng-show="!!passwordMessage">
					{{passwordMessage}}
		    	</div> 
		      <input type="password" class="form-control" ng-keydown="tab()" ng-model="password" tabindex="2" placeholder="请输入密码，长度6-14位字符，支持 a-z 0-9 字符。">
		    </div>
		    <div class="form-group">
   		    	<div class="alert alert-danger small" ng-show="!!validat_numMessage">
   					{{validat_numMessage}}
   		    	</div>
				<div class="row">
		       <div class="col-sm-7">
		          <input type="text" class="form-control" ng-keydown="tab()" ng-model="validat_num" tabindex="3" placeholder="输入验证码">
		       </div>
			   <label class="col-sm-5 control-label"><img ng-src="/refresh_num?{{time}}" />
			   <a href="#" ng-click="refreshNum()"><span class="glyphicon glyphicon-repeat"></span></a></label>
		   </div>
		     </div>
		  </form>		  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" ng-keydown="tab()" tabindex="4" class="btn btn-primary" ng-click="reg()">登录</button>
		<a ng-click="findPassword()">找回密码</a>
      </div>
    </div>
  </div>
</div>