<% include header.html %>
<ol class="breadcrumb">
    <li><a href="/">社区主页</a></li>
    <li><a href="/column/<%=column.id%>"><%=column.name%></a></li>
    <li class="active"><%=topic.title%></li>
</ol>

<div ng-controller="replyCtrl" ng-init='topicId="<%=topic.id%>"'>

    <div class="panel panel-success">
        <div class="panel-heading"> <%=topic.title%> <a href="" class="btn btn-default btn-xs pull-right">删帖</a> <a
                href="#createReply" class="pull-right btn btn-default btn-xs pull-right"
                ng-click="editorContainerId='createReply'">回帖</a></div>
        <div class="panel-body row">
            <div class="col-md-2">
                <img src="/logo.jpeg" class="img-circle"/>

                <p>利奥</p>
            </div>
            <div class="col-md-10">
                <h1><%=topic.title%></h1>

                <p><%=topic.body%></p>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="rid in replyIdsList" ng-show="replys[rid]">
                <div class="row">
                    <div class="col-md-2">
                        <img src="/logo.jpeg" class="img-circle"/>
                        <p>利奥</p>
                    </div>
                    <div class="col-md-10"  id="{{rid}}">
                        <p>{{replys[rid].title}} <a href="" ng-click="moveEditor(rid)">回复</a></p>
                        <p>{{replys[rid].body}}</p>

                        <ul class="list-group">
                            <li ng-show="replys[sr]" class="list-group-item list-group-item-info" ng-repeat="sr in subReplyIds[rid]">
                                <p>{{replys[sr].title}} <a href="" ng-click="moveEditor(rid,rs)">回复</a></p>
                                <p>{{replys[sr].body}}</p>
                            </li>
                        </ul>
                        <div> <a href="" ng-click="moreSubReply(rid)">更多...</a></div>

                    </div>
                </div>
            </li>
            <li><a href="" ng-click="moreReply()"> more ... </a></li>
        </ul>

    </div>

    <div id="createReply">
        <reply-editor ng-show="true"></reply-editor>
    </div>

</div>

<% include footer.html %>