<% include header.html %>


<form role="form" action="/fpwd_apply" method="post" class="col-sm-5" ng-controller="loginCtrl">
  <div class="form-group">
    <input type="email" class="form-control" name="email" placeholder="输入邮箱" />
  </div>

  <div class="form-group row">
      <div class="col-sm-7">
        <input type="text" class="form-control" name="validat_num" placeholder="输入验证码" />
      </div>
	   <label class="col-sm-5 control-label"><img ng-src="/refresh?{{time}}" />
		   <a href="#" ng-click="refresh()"><span class="glyphicon glyphicon-repeat"></span></a></label>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">修改密码申请</button>
  </div>
</form>



<script>
var app = angular.module("forumapp",[]);
app.controller("loginCtrl",function($scope){
	$scope.refresh = function(){
		this.time = Date.now();
	}
	$scope.refresh();
})
</script>
<% include footer.html %>