<% include header.html %>

<div ng-controller="ctrl">
	
	<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createColumnDialog">
		创建新栏目
	</button>
	
	<% columns.forEach(function(col){ %>
		<div class="panel panel-default">
		  <div class="panel-heading" columnid="<%=col.id%>" coledit="name">
			 <%=col.name%> 
		  </div>
		  <div class="panel-body"  columnid="<%=col.id%>" coledit="des">
	  		  <%=col.des%>
		  </div>
  
		</div>		
	<% }) %>
	
	<!-- Modal -->
	<div class="modal fade" id="createColumnDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">创建新栏目</h4>
	      </div>
	      <div class="modal-body">
			  <input type="text" placeholder="栏目名称" ng-model="name" />
			  <textarea ng-model="des"></textarea>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" ng-click="createColumn()" class="btn btn-primary">创建</button>
	      </div>
	    </div>
	  </div>
	</div>
		
</div>	  



<script>
  var app = angular.module("forumapp",[]);
  
  app.directive("coledit",function($http){
	  return {
		  scope:{},
		  link:function(scope,elem,attrs){
			 
			  var columnId = attrs.columnid;
			  var content = "";
			  var t;
			  
			  elem.bind("click",function(){
				  elem.attr("contentEditable","true");
				  
			  })
			  
			  elem.bind("keyup",function(){
				  content = elem.text();
				  clearTimeout(t);
				  t = setTimeout(function(){
					  if(attrs.coledit === "name"){
						  $http.post("/column/"+columnId+"/updateName",{name:content});
					  }else{
						  $http.post("/column/"+columnId+"/updateDes",{des:content});
					  }
				  },2000)
			  })
			  
		  }
	  }
  })
  
  
  app.controller("ctrl",function($scope,$http){
	  $scope.createColumn = function(){
	  	  $http.post("/column/create",{name:$scope.name,des:$scope.des})
		  .success(function(data){
			  setTimeout(function(){
				  window.location.href= window.location.href;
			  },1000)
		  })
	  }
  });
</script>

<% include footer.html %>
