<!DOCTYPE html>
<html>
<head>
	<title>Forum demo</title>
	
	<link rel="stylesheet" href="/bower_components/foundation/css/foundation.css" />

</head>
<body ng-app="forumapp">
	
	<nav class="top-bar" data-topbar>
		<ul class="title-area">
			<li class="name"> 
				<h1><a href="#">Node.js社区</a></h1> 
			</li> 
			<li class="toggle-topbar menu-icon">
				<a href="#"><span>Menu</span></a>
			</li> 
		</ul> 
		<section class="top-bar-section"> 
			<ul class="right"> 
				<li class="active">
					<a href="#">Right Nav Button Active</a>
				</li>
				<li class="has-dropdown"> 
					<a href="#">Right Button with Dropdown</a> 
					<ul class="dropdown"> 
						<li>
							<a href="#">First link in dropdown</a>
						</li> 
					</ul> 
				</li> 
			</ul> 
			<ul class="left"> 
				<li><a href="#">Left Nav Button</a></li> 
			</ul> 
		</section>
	</nav>
	
	<div class="row">
		<div class="panel"></div>
	</div>
	
	
	<script src="/bower_components/modernizr/modernizr.js"></script>
	<script src="/bower_components/jquery/jquery.min.js"></script>
	<script src="/bower_components/foundation/js/foundation.js"></script>
	<script src="/bower_components/foundation/js/foundation/foundation.topbar.js"></script>
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/main.js"></script>
	<script>
	$(document).foundation();
	</script>
</body>
</html>