<% include header.html %>

<div class="jumbotron">
  <div class="page-header">
    <h3>Node.js社区 <small>专注于 html5/node.js 技术推广与应用</small></h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-9">
	  <div class="panel panel-default">
		  <div class="panel-heading"> title </div>
		  <div class="panel-body">
			  
		  </div>
		  
	  </div>
	  <div class="panel panel-default">
		  <div class="panel-heading"> title </div>
		  <div class="panel-body">
			  
		  </div>
		  
	  </div>
	  <div class="panel panel-default">
		  <div class="panel-heading"> title </div>
		  <div class="panel-body">
			  
		  </div>
		  
	  </div>
	  <div class="panel panel-default">
		  <div class="panel-heading"> title </div>
		  <div class="panel-body">
			  
		  </div>
		  
	  </div>
  </div>
  <div class="col-xs-6 col-md-3">
	  <div class="panel panel-default">
		  <div class="panel-heading"> title </div>
		  <div class="panel-body">
			  
		  </div>
		  
	  </div>
	  <div class="panel panel-default">
		  <div class="panel-heading"> title </div>
		  <div class="panel-body">
			  
		  </div>
		  
	  </div>
	  <div class="panel panel-default">
		  <div class="panel-heading"> title </div>
		  <div class="panel-body">
			  
		  </div>
		  
	  </div>
  </div>
</div>

<% include footer.html %>
