<% include header.html %>

	  <div class="panel panel-success">
		  <div class="panel-heading"> HTML5 讨论 </div>
		  	 
			  <ul class="list-group">
    			    <a href="#" class="list-group-item">
    			      <span class="badge pull-left">14 / 3 </span>
    			      <span class="badge pull-right"> brighthas </span>
				  
				  
    			      Cras justo odiojusto odiojusto odiojusto odiojusto odiojusto odiojusto odiojusto odiojusto odio
    			    </a>   			   
	  			    <a href="#" class="list-group-item">
	  			      <span class="badge pull-left">14 / 3 </span>
	  			      <span class="badge pull-right"> brighthas </span>
				  
				  
	  			      Cras justo odiojusto odiojusto odiojusto odiojusto odiojusto odiojusto odiojusto odiojusto odio
	  			    </a>   			   
	  			    <a href="#" class="list-group-item">
	  			      <span class="badge pull-left">14 / 3 </span>
	  			      <span class="badge pull-right"> brighthas </span>
				  
				  
	  			      Cras justo odiojusto odiojusto odiojusto odiojusto odiojusto odiojusto odiojusto odiojusto odio
	  			    </a>   			   
	  			    <a href="#" class="list-group-item">
	  			      <span class="badge pull-left">14 / 3 </span>
	  			      <span class="badge pull-right"> brighthas </span>
				  
				  
	  			      Cras justo odiojusto odiojusto odiojusto odiojusto odiojusto odiojusto odiojusto odiojusto odio
	  			    </a>   			   
	  			    <a href="#" class="list-group-item">
	  			      <span class="badge pull-left">14 / 3 </span>
	  			      <span class="badge pull-right"> brighthas </span>
				  
				  
	  			      Cras justo odiojusto odiojusto odiojusto odiojusto odiojusto odiojusto odiojusto odiojusto odio
	  			    </a>   			   
	  			    <a href="#" class="list-group-item">
	  			      <span class="badge pull-left ">14 / 3 </span>
	  			      <span class="badge pull-right"> brighthas </span>
				  
				  
	  			      Cras justo odiojusto odiojusto odiojusto odiojusto odiojusto odiojusto odiojusto odiojusto odio
	  			    </a>   			   
	  			    <a href="#" class="list-group-item">
	  			      <span class="badge pull-left">14 / 3 </span>
	  			      <span class="badge pull-right"> brighthas </span>
				  
				  
	  			      Cras justo odiojusto odiojusto odiojusto odiojusto odiojusto odiojusto odiojusto odiojusto odio
	  			    </a>   			   
  		
			
		    
			  </ul>		  
	  </div>
	  <div class="panel panel-default">
		  <div class="panel-heading"> title </div>
		  <div class="panel-body">
			  
		  </div>
		  
	  </div>
	  <div class="panel panel-default">
		  <div class="panel-heading"> title </div>
		  <div class="panel-body">
			  
		  </div>
		  
	  </div>
	  <div class="panel panel-default">
		  <div class="panel-heading"> title </div>
		  <div class="panel-body">
			  
		  </div>
		  
	  </div>

<% include footer.html %>
