<% include header.html %>

<% include breadcrumbs.html %>

<ul class="nav nav-tabs">
  <li><a href="#home" data-toggle="tab">基本资料</a></li>
  <li><a href="#profile" data-toggle="tab">主题帖</a></li>
  <li><a href="#messages" data-toggle="tab">回复帖</a></li>
  <li><a href="#settings" data-toggle="tab">私信</a></li>
  <li><a href="#follows" data-toggle="tab">关注</a></li>
  <li><a href="#watchers" data-toggle="tab">听众</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home">
	  
	  
	  
  </div>
  <div class="tab-pane" id="profile">
	  <%=user.role%>
  </div>
  <div class="tab-pane" id="messages">
	  messages
  </div>
  <div class="tab-pane" id="settings">
	  settings
  </div>
  <div class="tab-pane" id="follows">
	  messages
  </div>
  <div class="tab-pane" id="watchers">
	  settings
  </div>
</div>

<% include footer.html %>
